  body{
      background-image:url(bglog.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      overflow: hidden;


    }
    #container{
      max-width:400px;
      max-height: 600px;
      padding-bottom: 50px;
      margin: 70px auto;

    }

    #header
    {
      position: relative;
      top: -60px;
      background-color: #047069;

    }
    .valid
    {
        border: 1.3px solid red;
    }
    .invalid
    {
        border: 1.3px solid green;
    }
    .invalidEmail
    {
        color: orange;
        display: block;
    }
    .validEmail
    {
        display: none;
    }
    .invalidPwd
    {
        color: orange;
        display: block;
    }
    .validPwd
    {
        display: none;
    }

   